*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #09383e;
}

.card{
    position: relative;
    width: 350px;
    height: 450px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
}

.card:hover{
    transform: perspective(2000px) translateX(50%);
}

.card .cover{
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    overflow: hidden;
    transition: 1s ease-in-out;
    transform-origin: left;
}

.card:hover .cover {
    transform: rotateY(-180deg);
}

.card .cover img{
    max-width: 100%;
    z-index: 1;
}

.card .cover::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 150%;
    background: #fff;
    transform: rotate(36.5deg);
    box-shadow: 0 0 0 20px #47bfce;
    transition: 0.5s;
}

.card:hover .cover::before {
    width: 0px;
    box-shadow: 0 0 0 350px #47bfce;
    transform: rotate(143.5deg);
}

.card .details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    z-index: 1;
}

.card .details h3{
    font-weight: 500;
    margin: 5px 0;
}

.card .details h2{
    font-size: 1.5rem;
    color: #e82a5b;
    font-weight: 600;
}

.card .details a{
    display: inline-block;
    padding: 8px 20px;
    background: #47bfce;
    color: white;
    margin-top: 5px;
    letter-spacing: 1px;
    border-radius: 25px;
    text-decoration: none;
}